RewriteEngine On
  RewriteCond $1 !^(index\.php|resources|robots\.txt)
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php/$1 [L,QSA]

  RewriteCond %{HTTP_HOST} ^172\.18\.133\.55$ [NC]
  RewriteRule ^(.*)$ http://isd.bri.co.id/$1 [R=301,L]
  #RewriteRule ^(.*)$ http://isd.bri.co.id/newportalisd/$1 [R=301,L]
